@mixin font-style($size, $line-height) {
  font-size: $size;
  font-weight: var(--font-regular);
  line-height: $line-height;
}

@mixin displayFlex($jc: center, $ai: center, $fd: row, $ga: 0, $fwr: nowrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $ga;
  flex-wrap: $fwr;
}
