@mixin type-style($size, $line-height, $letter-spacing, $weight: 400) {
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $weight;
}

@mixin displayFlex($jc: center, $ai: center, $fd: row, $ga: 0, $fwr: nowrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $ga;
  flex-wrap: $fwr;
}
