:root {
  --palette-white: 255, 255, 255;
  --palette-black: 0, 0, 0;
  //--palette-primary: 65, 105, 225; // original
  --palette-primary: 80, 110, 200;
  --palette-bg-primary: 13, 13, 13;

  --color-white: rgb(var(--palette-white));
  --color-black: rgb(var(--palette-black));
  --color-primary: rgb(var(--palette-primary));
  --bg-primary: rgb(var(--palette-bg-primary));

  --color-black-10: rgba(var(--palette-black), 0.1);
  --color-black-20: rgba(var(--palette-black), 0.2);
  --color-black-30: rgba(var(--palette-black), 0.3);
  --color-black-40: rgba(var(--palette-black), 0.4);
  --color-black-50: rgba(var(--palette-black), 0.5);
  --color-black-60: rgba(var(--palette-black), 0.6);
  --color-black-70: rgba(var(--palette-black), 0.7);
  --color-black-80: rgba(var(--palette-black), 0.8);
  --color-black-90: rgba(var(--palette-black), 0.9);

  --color-primary-10: rgba(var(--palette-primary), 0.1);
  --color-primary-20: rgba(var(--palette-primary), 0.2);
  --color-primary-30: rgba(var(--palette-primary), 0.3);
  --color-primary-40: rgba(var(--palette-primary), 0.4);
  --color-primary-50: rgba(var(--palette-primary), 0.5);
  --color-primary-60: rgba(var(--palette-primary), 0.6);
  --color-primary-70: rgba(var(--palette-primary), 0.7);
  --color-primary-80: rgba(var(--palette-primary), 0.8);
  --color-primary-90: rgba(var(--palette-primary), 0.9);

  --glass-blur: 15px;
  --glass-shadow: 0 12px 40px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  --ff: "Lato";

  --fs-h1: clamp(1.5rem, 0.875rem + 2.778vw, 4rem);
  --fs-h2: clamp(1.3rem, 1rem + 1.333vw, 2.5rem);
  --fs-h3: clamp(1rem, 0.75rem + 1.111vw, 2rem);
  --fs-p1: clamp(0.8rem, 0.625rem + 0.778vw, 1.5rem);
  --fs-p2: clamp(0.8rem, 0.7rem + 0.444vw, 1.2rem);

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

  --skew-angle: 36deg;
  --neg-skew-angle: -36deg;
}
