:root {
  --palette-white: 255, 255, 255;
  --palette-black: 0, 0, 0;
  //--palette-primary: 65, 105, 225; // original
  --palette-primary: 80, 110, 200;
  --palette-bg-primary: 13, 13, 13;

  --color-white: rgb(var(--palette-white));
  --color-black: rgb(var(--palette-black));
  --color-primary: rgb(var(--palette-primary));
  --bg-primary: rgb(var(--palette-bg-primary));

  --color-black-10: rgba(var(--palette-black), 0.1);
  --color-black-20: rgba(var(--palette-black), 0.2);
  --color-black-30: rgba(var(--palette-black), 0.3);
  --color-black-40: rgba(var(--palette-black), 0.4);
  --color-black-50: rgba(var(--palette-black), 0.5);
  --color-black-60: rgba(var(--palette-black), 0.6);
  --color-black-70: rgba(var(--palette-black), 0.7);
  --color-black-80: rgba(var(--palette-black), 0.8);
  --color-black-90: rgba(var(--palette-black), 0.9);

  --color-primary-10: rgba(var(--palette-primary), 0.1);
  --color-primary-20: rgba(var(--palette-primary), 0.2);
  --color-primary-30: rgba(var(--palette-primary), 0.3);
  --color-primary-40: rgba(var(--palette-primary), 0.4);
  --color-primary-50: rgba(var(--palette-primary), 0.5);
  --color-primary-60: rgba(var(--palette-primary), 0.6);
  --color-primary-70: rgba(var(--palette-primary), 0.7);
  --color-primary-80: rgba(var(--palette-primary), 0.8);
  --color-primary-90: rgba(var(--palette-primary), 0.9);

  --glass-blur: 15px;
  --glass-shadow: 0 12px 40px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  --ff: "Outfit";

  --fs-h1: clamp(2rem, 1.5625rem + 1.9444vw, 3.75rem); // 32 → 60px
  --fs-h2: clamp(1.75rem, 1.4375rem + 1.3889vw, 3rem); // 28 → 48px
  --fs-h3: clamp(1.5rem, 1.25rem + 1.1111vw, 2.5rem);  // 24 → 40px
  --fs-h4: clamp(1.38rem, 1.225rem + 0.6889vw, 2rem);  // 22 → 32px
  --fs-h5: clamp(1.25rem, 1.1875rem + 0.2778vw, 1.5rem); // 20 → 24px
  --fs-h6: clamp(1.12rem, 1.0875rem + 0.1444vw, 1.25rem); // 18 → 20px

  --fs-p1: var(--fs-h5); // 20 → 24px
  --fs-p2: var(--fs-h6); // 18 → 20px
  --fs-p3: 1rem;   // 16px
  --fs-p4: 0.88rem; // 14px

  --fs-b1: 0.88rem; // 14px
  --fs-b2: 0.75rem; // 12px
  --fs-l1: 0.88rem; // 14px
  --fs-l2: 0.75rem; // 12px

  --font-extrabold: 800;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  --skew-angle: 36deg;
  --neg-skew-angle: -36deg;
}
