@use "mixins";

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  > h4 {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .about-content {
    @include mixins.displayFlex($fd: column);

    p {
      margin-block: 0.15rem;
      width: 100%;
      text-align: left;
      font-size: 1.1rem;
      font-weight: var(--font-regular);
      line-height: 150%;
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);

      strong {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
        font-weight: var(--font-medium);
      }

      .profile-link {
        color: var(--color-white);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .username-field {
      field-sizing: content;
      padding: 0 0.3rem;
      outline: none;
      border: none;
      border-radius: 0.2rem;
      background: var(--color-primary-40);
      color: var(--color-white);
      font-family: var(--ff), sans-serif;
      font-size: 1.1rem;
    }
  }
}
