@use "mixins";

.experience-container {
  @include mixins.displayFlex($jc: space-evenly, $ai: flex-start, $ga: 2rem);
  width: 90%;
  margin: auto 0;
}

.timeline {
  width: 45%;
  position: relative;
  @include mixins.displayFlex($ai: flex-start, $fd: column);

  .checkpoint {
    position: relative;
    padding-left: 2rem;
    padding-block: 0.5em;
    border-left: 0.1rem solid var(--color-primary-80);
    width: 100%;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 2rem;
      height: 0.1rem;
      background: var(--color-primary-80);
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.7rem;
      aspect-ratio: 1/1;
      transform: translate(calc((50% + 0.05rem) * -1), calc((50% - 0.05rem) * -1));
      border-radius: 50%;
      background: var(--color-primary);
    }

    .checkpoint-header {
      flex-direction: row;
      justify-content: flex-start;

      span, h4 {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
        font-weight: var(--font-medium);
      }
    }

    & > div {
      @include mixins.displayFlex($ai: flex-start, $fd: column, $ga: 0.4rem);
      padding: 0.7rem 1rem;
      border: 0.1rem solid var(--color-primary-80);
      border-radius: 1rem;
      background: var(--color-primary-10);

      p {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
      }

      .heading {
        font-size: 1.2rem;
      }
      .sub-heading {
        font-size: 1.1rem;
      }
      .text {
        font-size: 0.9rem;
        line-height: 150%;
      }
      .label {
        padding: 0.3rem 0.5rem;
        border: 0.1rem solid var(--color-primary-80);
        border-radius: 0.5rem;
        background: var(--color-primary-20);
      }
      .wrapper {
        @include mixins.displayFlex($jc: space-between, $fwr: wrap);
        width: 100%;
      }
    }
  }
}

.all-skills-button {
  color: var(--color-white);
  cursor: pointer;
}
