@use "mixins";

.footer {
  //flex-shrink: 0;

  @include mixins.displayFlex($jc: flex-start);
  width: 100%;
  padding-top: 0.5rem;
  border-top: 0.1rem solid var(--color-primary-70);
  background: var(--color-black-50);
  backdrop-filter: blur(1px);
}
