@use "mixins";

.footer {
  flex-shrink: 0;

  @include mixins.displayFlex($jc: flex-start);
  width: 100%;
  padding-top: 0.5rem;
  border-top: 0.1rem solid var(--color-primary-70);
  background: var(--color-black-50);
  backdrop-filter: blur(1px);

  &__quotes {
    @include mixins.displayFlex($ai: flex-start, $fd: column);

    &-label, &-display {
      transform: skewX(var(--skew-angle));
      background: transparent;
      backdrop-filter: blur(var(--glass-blur));
      border-top-right-radius: 1.2rem;
      border-top: 0.1rem solid var(--color-primary-70);
      border-right: 0.15rem solid var(--color-primary-70);
    }

    &-label {
      @include mixins.displayFlex($ga: 0.8rem);
      padding: 0.5rem 1.5rem 0.5rem 1rem;

      p, span {
        transform: skewX(var(--neg-skew-angle));
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
      }

      p {
        font-family: "Outfit", sans-serif;
      }

      span {
        border: 0.1rem solid var(--color-primary-70);
        border-radius: 0.6rem;
        background: var(--color-primary-20);
        backdrop-filter: blur(var(--glass-blur));
        cursor: pointer;
        transition: transform 0.3s ease;

        &.arrow-icon {
          &.rotated {
            transform: skewX(var(--neg-skew-angle)) rotate(180deg);
          }
        }
      }
    }

    &-display {
      @include mixins.displayFlex($jc: flex-start);
      min-width: 40vw;
      width: fit-content;
      transition: all 0.4s ease-in-out;

      &.closed {
        opacity: 0;
      }

      &.open {
        opacity: 1;
      }

      &-content {
        @include mixins.displayFlex($jc: center, $ai: stretch, $ga: 1rem, $fd: row);
        min-height: 4rem;
        padding: 1rem 4rem 1rem 1rem;
        transition: all 1s ease-in-out;
      }

      &.closed &-content {
        visibility: hidden;
      }

      &-line {
        width: 0.3rem;
        min-height: 1.2rem;
        transform: skewX(var(--neg-skew-angle)) skewY(var(--neg-skew-angle));
        background: var(--color-primary-70);
        flex-shrink: 0;
      }

      &-text {
        transform: skewX(var(--neg-skew-angle));
        flex: 1;
        @include mixins.displayFlex;
        text-wrap: wrap;
        padding-right: 0.4rem;
        border-right: 0.2rem solid var(--color-primary-70);
        animation: blink 1s infinite;
      }
    }
  }

  &__contact {
    position: fixed;
    right: 0;
    bottom: 0;
    @include mixins.displayFlex($ai: flex-end, $fd: column);

    &-label {
      transform: skewX(var(--neg-skew-angle));
      @include mixins.displayFlex($jc: center, $ga: 0.8rem, $fd: row);
      padding: 0.5rem 1.5rem;
      border-top-left-radius: 1.2rem;
      border-top: 0.1rem solid var(--color-primary-70);
      border-left: 0.15rem solid var(--color-primary-70);
      background: transparent;
      backdrop-filter: blur(var(--glass-blur));

      &[data-form-open="true"] {
        background: var(--color-black);
      }

      p, span {
        transform: skewX(var(--skew-angle));
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
      }

      p {
        font-family: "Outfit", sans-serif;
      }

      span {
        cursor: pointer;
        background: var(--color-primary-20);
        border: 1px solid var(--color-primary-70);
        border-radius: 10px;
        backdrop-filter: blur(var(--glass-blur));
        transition: transform 0.3s ease;

        &.arrow-icon {
          &.rotated {
            transform: skewX(var(--skew-angle)) rotate(180deg);
          }
        }
      }
    }

    &-form {
      @include mixins.displayFlex($jc: center);
      width: 30vw;
      border-top-left-radius: 1.2rem;
      border-top: 0.1rem solid var(--color-primary-70);
      border-left: 0.1rem solid var(--color-primary-70);
      background: var(--color-black);
      backdrop-filter: blur(var(--glass-blur));
      transition: all 0.3s ease-in-out;

      &.closed {
        opacity: 0;
      }

      &.open {
        opacity: 1;
      }

      &-content {
        @include mixins.displayFlex($jc: center, $ga: 1rem, $fd: column);
        width: 90%;
        padding: 1.5rem;
        transition: all 0.4s ease-in-out;

        p {
          opacity: 1;
          font-family: "Outfit", sans-serif;
          font-weight: var(--font-medium);
          text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
          transition: all 0.2s ease-in-out;
        }

        form {
          @include mixins.displayFlex($ai: stretch, $ga: 1rem, $fd: column);
          width: 100%;

          input, textarea {
            padding: 0.8rem;
            color: var(--color-white);
            font-family: inherit;
            font-size: 1rem;
            border: 0.1rem solid var(--color-primary-70);
            border-radius: 0.4rem;
            background: transparent;
            backdrop-filter: blur(var(--glass-blur));
            transition: all 0.3s ease;

            &::placeholder {
              color: rgba(255, 255, 255, 0.6);
            }

            &:focus {
              outline: none;
              border-color: rgba(65, 105, 225, 1);
              box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
            }
          }

          textarea {
            resize: none;
          }

          button {
            @include mixins.displayFlex($jc: center, $ga: 0.5rem);
            padding: 0.8rem;
            color: var(--color-white);
            font-family: inherit;
            font-size: 1rem;
            border: 0.1rem solid var(--color-primary-70);
            border-radius: 0.4rem;
            background: var(--color-primary-20);
            backdrop-filter: blur(var(--glass-blur));
            cursor: pointer;
            transition: all 0.3s ease;

            span {
              font-size: 1.2rem;
              transition: transform 0.3s ease-in-out;
            }

            &:hover {
              box-shadow: 0 0 15px var(--color-primary-50);
            }

            &:hover span {
              transform: translateX(4px);
            }
          }
        }
      }

      &.closed &-content {
        visibility: hidden;

        p {
          opacity: 0;
        }
      }
    }
  }
}

@keyframes blink {
  0%, 50% {
    border-right-color: var(--color-primary-70);
    box-shadow: 0 0 5px rgba(var(--color-primary-70), 0.5);
  }
  51%, 100% {
    border-right-color: transparent;
    box-shadow: none;
  }
}
