@use "mixins";

.home-container {
  @include mixins.displayFlex($fd: column, $ga: 2rem);
  width: 80%;
  margin: auto 0;

  @media screen and (max-width: 750px) {
    width: 90%;
  }

  .photo-links-about-wrapper {
    @include mixins.displayFlex($jc: center, $ga: 4.5rem);
    width: 100%;

    @media screen and (max-width: 1250px) {
      flex-direction: column;
      gap: 1rem;
      padding: clamp(0.5rem, 0.298rem + 0.899vw, 1rem) 0 0 0;
    }

    .photo-links-wrapper {
      @include mixins.displayFlex($fd: column, $jc: center, $ga: 1rem);
    }
  }
}
