@use "mixins";

.home-container {
  @include mixins.displayFlex($fd: column, $ga: 2rem);
  width: 80%;
  margin: auto 0;

  .photo-links-about-wrapper {
    @include mixins.displayFlex($jc: center, $ga: 4.5rem);
    width: 100%;

    .photo-links-wrapper {
      @include mixins.displayFlex($fd: column, $jc: center, $ga: 1rem);
    }
  }
}
