@use "mixins";

.pdf-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  @include mixins.displayFlex;
  width: 100%;
  height: 100%;
  background: var(--color-black-70);
  backdrop-filter: blur(10px);
  z-index: 1000;
  cursor: pointer;
}

.pdf-viewer-container {
  position: relative;
  @include mixins.displayFlex;
  height: 100%;

  iframe {
    width: 640px;
    height: 100%;
    padding: 1rem 0;
    border: none;
    border-left: 0.1rem solid var(--color-primary);
    border-right: 0.1rem solid var(--color-primary);
    transition: all 0.5s ease-in-out
  }

  .pdf-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
