@use "mixins";

.projects-container {
  @include mixins.displayFlex($fd: column, $ga: 2rem);
  width: 90%;

  > h4 {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 100%;

    > div {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.4);
        z-index: 2;
      }

      /* First column */
      &:nth-child(3n + 1):hover {
        transform-origin: bottom left;
      }

      /* Middle column */
      &:nth-child(3n + 2):hover {
        transform-origin: bottom center;
      }

      /* Last column */
      &:nth-child(3n + 3):hover {
        transform-origin: bottom right;
      }
    }
  }
}
