@use "mixins";

.projects-container {
  @include mixins.displayFlex($ai: flex-start);
  width: 100%;
  padding: 0 clamp(0rem, -0.3rem + 1.333vw, 1.2rem);

  .project-carousel {
    position: fixed;
    top: 0;
    left: 0;
    @include mixins.displayFlex($ai: flex-start);
    width: 100%;
    height: 100%;
    background: var(--color-black-70);
    backdrop-filter: blur(10px);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;

    .project-carousel-content {
      @include mixins.displayFlex($fd: column, $ga: 1rem);
      width: 90%;
      min-height: 100%;
      padding: 1rem 0;

      @media screen and (min-width: 1100px) {
        width: 70%;
      }

      .project-carousel-title {
        font-size: clamp(1.1rem, 0.875rem + 1vw, 2rem);
        animation: fadeIn 1s ease-in-out forwards;
      }

      .project-carousel-btns-group {
        @include mixins.displayFlex($jc: flex-end, $ga: 0.5rem);
        width: 100%;

        .project-carousel-btn {
          @include mixins.displayFlex($jc: center, $ai: center);
          padding: clamp(0.5rem, 0.425rem + 0.333vw, 0.8rem);
          outline: none;
          border-radius: 50%;
          border: 0.1rem solid rgba(255, 255, 255, 0.2);
          color: var(--color-white);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          cursor: pointer;
          animation: fadeIn 1s ease-in-out forwards;

          span {
            font-size: clamp(1rem, 0.875rem + 0.556vw, 1.5rem);
          }

          &:not(:disabled):hover,
          &:not(:disabled):active {
            background: rgba(255, 255, 255, 0.2);
            border-color: rgba(255, 255, 255, 0.4);
          }

          &:disabled {
            color: rgba(255, 255, 255, 0.1);
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 100%;

    @media screen and (max-width: 1250px) {
      grid-template-columns: repeat(2, 1fr); 
    }

    @media screen and (max-width: 750px) {
      grid-template-columns: repeat(1, 1fr); 
      width: 95%;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .project-grid-item {
      @include mixins.displayFlex($jc: flex-start, $fd: column);
      border: 0.1rem solid var(--color-primary-80);
      border-radius: 0.5rem;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border-color: var(--color-primary);
        box-shadow: 0 0 30px var(--color-primary-30);
      }

      .project-title {
        width: 100%;
        padding: 0.7rem 1rem;
        border-bottom: 0.1rem solid var(--color-primary-80);
        background: transparent;

        .title {
          font-size: clamp(1.1rem, 0.875rem + 1vw, 2rem);
        }
      }

      .project-data {
        flex: 1;
        @include mixins.displayFlex($jc: flex-start, $ai: flex-start, $fd: column, $ga: 0.4rem);
        padding: 0.7rem 1rem;
        background: var(--color-primary-10);

        .project-cta-gallery {
          color: var(--color-white);
          background: none;
          border: none;
          font-family: var(--ff), sans-serif;
          cursor: pointer;
          transition: all 0.2s ease;
          padding: 0.2rem 0;

          &:disabled {
            color: var(--color-primary-80);
            cursor: not-allowed;

            &:hover {
              color: var(--color-primary-80);
              transform: none;
            }
          }
        }

        .project-cta-link {
          @include mixins.displayFlex($ga: 0.2rem);
          font-size: clamp(0.6rem, 0.5rem + 0.444vw, 1rem);
          line-height: 150%;
          color: var(--color-white);
          transition: all 0.2s ease;

          span {
            font-size: clamp(0.6rem, 0.5rem + 0.444vw, 1rem);
            transition: transform 0.2s ease;
          }
        }

        .text {
          font-size: clamp(0.7rem, 0.6rem + 0.444vw, 1.1rem);
          line-height: 150%;
        }

        .label {
          padding: 0.3rem 0.5rem;
          border: 0.1rem solid var(--color-primary-80);
          border-radius: 0.5rem;
          background: var(--color-primary-20);
          font-size: clamp(0.6rem, 0.5rem + 0.444vw, 1rem);
        }

        .wrapper {
          @include mixins.displayFlex($jc: flex-start, $ga: 0.4rem, $fwr: wrap);
          width: 100%;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
