@use "mixins";

.quotes {
  @include mixins.displayFlex($ai: flex-start, $fd: column);

  &-label, &-display {
    transform: skewX(var(--skew-angle));
    background: transparent;
    backdrop-filter: blur(var(--glass-blur));
    border-top-right-radius: 1.2rem;
    border-top: 0.1rem solid var(--color-primary-70);
    border-right: 0.15rem solid var(--color-primary-70);
  }

  &-label {
    @include mixins.displayFlex($ga: 0.5rem);
    padding: 0.4rem 1.5rem 0.4rem 1rem;

    p, span {
      transform: skewX(var(--neg-skew-angle));
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    }

    p {
      font-size: 1rem;
    }

    span {
      font-size: 1.2rem;
      border: 0.1rem solid var(--color-primary-70);
      border-radius: 0.5rem;
      background: var(--color-primary-20);
      backdrop-filter: blur(var(--glass-blur));
      cursor: pointer;
      transition: transform 0.3s ease;

      &.arrow-icon {
        &.rotated {
          transform: skewX(var(--neg-skew-angle)) rotate(180deg);
        }
      }
    }
  }

  &-display {
    @include mixins.displayFlex($jc: flex-start);
    width: 45vw;
    height: max-content;
    transition: all 0.4s ease-in-out;

    &.closed {
      opacity: 0;
    }

    &.open {
      opacity: 1;
    }

    &-content {
      @include mixins.displayFlex($ga: 1rem, $fd: row);
      padding: 0.5rem 2rem  0.5rem 1rem;
      transition: all 1s ease-in-out;
    }

    &.closed &-content {
      visibility: hidden;
    }

    &-line {
      align-self: stretch;
      width: 0.3rem;
      min-height: 2rem;
      transform: skewX(var(--neg-skew-angle)) skewY(var(--neg-skew-angle));
      background: var(--color-primary-70);
      flex-shrink: 0;
    }

    &-text {
      transform: skewX(var(--neg-skew-angle));
      padding-right: 0.2rem;
      font-size: 1.1rem;
      line-height: 150%;

      span:first-child {
        display: inline;
      }

      span:last-child {
        display: inline-block;
        margin-left: 0.15rem;
        width: 0.2rem;
        height: 1.5em;
        vertical-align: top;
        background: var(--color-primary-90);
        animation: blink 1s step-start infinite;
      }
    }
  }
}

@keyframes blink {
  50% { opacity: 0; }
}
