@use "mixins";

.quotes {
  @include mixins.displayFlex($ai: flex-start, $fd: column);

  &-label,
  &-display {
    transform: skewX(var(--skew-angle));
    background: transparent;
    backdrop-filter: blur(var(--glass-blur));
    border-top-right-radius: 1.2rem;
    border-top: 0.1rem solid var(--color-primary-70);
    border-right: 0.15rem solid var(--color-primary-70);
  }

  &-label {
    @include mixins.displayFlex($ga: 0.5rem);
    padding: 0.4rem 1.5rem 0.4rem 1rem;

    p,
    span {
      transform: skewX(var(--neg-skew-angle));
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    }

    p {
      font-size: clamp(0.9rem, 0.649rem + 0.401vw, 1.1rem);
    }

    span {
      font-size: clamp(1.2rem, 1.15rem + 0.222vw, 1.4rem);
      border: 0.1rem solid var(--color-primary-70);
      border-radius: 0.5rem;
      background: var(--color-primary-20);
      backdrop-filter: blur(var(--glass-blur));
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &.arrow-icon {
        &.rotated {
          transform: skewX(var(--neg-skew-angle)) rotate(180deg);
        }
      }
    }
  }

  &-display {
    display: grid;
    grid-template-rows: 0fr;
    width: clamp(22rem, 15.5rem + 28.889vw, 48rem);
    max-width: 90vw;
    max-height: 80dvh;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 600px) {
      &[data-quotes-open="true"] {
        z-index: 1000;
        background: var(--color-black);
      }
    }

    &.open {
      grid-template-rows: 1fr;
      padding: 0.5rem 2rem 0.5rem 1rem;
      opacity: 1;
    }

    &-content {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 0.7rem;
      align-items: center;
      min-height: 0;

      &-line {
        align-self: stretch;
        width: 0.3rem;
        min-height: 2rem;
        transform: skewX(var(--neg-skew-angle)) skewY(var(--neg-skew-angle));
        background: var(--color-primary-70);
      }

      &-text {
        transform: skewX(var(--neg-skew-angle));
        padding-right: 0.2rem;
        font-size: clamp(0.8rem, 0.7rem + 0.444vw, 1.2rem);
        line-height: 150%;

        span:first-child {
          display: inline;
        }

        span:last-child {
          display: inline-block;
          margin-left: 0.15rem;
          width: 0.2rem;
          height: 1.5em;
          vertical-align: top;
          background: var(--color-primary-90);
          animation: blink 1s step-start infinite;
        }
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
