@use "./styles/mixins";
@use "./styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  //outline: 1px solid lime;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: var(--ff), sans-serif;
  background-color: transparent;
  color: var(--color-white);
  overflow: hidden;
}


.h1 {
  @include mixins.font-style(var(--fs-h1), 120%);
}

.h2 {
  @include mixins.font-style(var(--fs-h2), 120%);
}

.h3 {
  @include mixins.font-style(var(--fs-h3), 120%);
}

.p1 {
  @include mixins.font-style(var(--fs-p1), 150%);
}

.p2 {
  @include mixins.font-style(var(--fs-p2), 150%);
}

.btn1, .btn2 {
  border: none;
  outline: none;
  color: var(--color-black);
  font-family: var(--ff), "sans-serif";
  cursor: pointer;
}

.btn1 {
  @include mixins.font-style(var(--fs-p1), 120%);
}

.btn2 {
  @include mixins.font-style(var(--fs-p2), 120%);
}

.app {
  position: relative;
  @include mixins.displayFlex($jc: space-between, $fd: column);
  height: 100vh;
  z-index: 1;
}
