@use "sass:list";
@use "./styles/variables";
@use "./styles/typography";
@use "./styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: var(--ff), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: transparent;
  color: var(--color-white);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

@each $name, $vals in typography.$headings {
  .#{$name} {
    @include mixins.type-style(list.nth($vals, 1), list.nth($vals, 2), list.nth($vals, 3), list.nth($vals, 4))
  }
}

@each $name, $vals in typography.$paragraphs {
  .#{$name} {
    @include mixins.type-style(list.nth($vals, 1), list.nth($vals, 2), list.nth($vals, 3), list.nth($vals, 4));
  }
}

@each $name, $vals in typography.$text-utility {
  .#{$name} {
    @include mixins.type-style(list.nth($vals, 1), list.nth($vals, 2), list.nth($vals, 3), list.nth($vals, 4));
  }
}

.app {
  position: relative;
  @include mixins.displayFlex($jc: center, $fd: column);
  height: 100dvh; // this fixes the mobile layout problem - footer not visible
  z-index: 1;
}
